In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv('real.csv')
df.head(5)
x=df.iloc[:,1:7]
y=df.iloc[:,7]

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =10)

In [36]:
x_train

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
52,2013.583,32.1,1438.5790,3,24.97419,121.51750
101,2012.833,12.7,170.1289,1,24.97371,121.52984
389,2013.250,40.9,122.3619,8,24.96756,121.54230
386,2012.833,0.0,185.4296,0,24.97110,121.53170
64,2013.333,17.5,995.7554,0,24.96305,121.54915
...,...,...,...,...,...,...
369,2012.667,20.2,2185.1280,3,24.96322,121.51237
320,2012.750,13.5,4197.3490,0,24.93885,121.50383
15,2013.583,35.7,579.2083,2,24.98240,121.54619
125,2013.167,1.1,193.5845,6,24.96571,121.54089
265,2012.833,15.7,815.9314,4,24.97886,121.53464

In [38]:
reg.fit(x_train,y_train)

LinearRegression()

In [44]:
reg.score(x_test,y_test)

0.5941247122614617

In [ ]:
%matplotlib inline
plt.scatter()